* {
    margin: 0;
    padding: 0;
    font-size: 40px;
    background-color: antiquewhite;
}

p {
    text-align: center;
}

.sec {
display: flex;
height: 100dvh;
justify-content: center;
align-items: center;
}
.triangulo {
display: flex;
border: 3px black solid;
}
.erro {
    color: red;
}